.title {
  color: #000;
  font-size: 32px;
}
.text {
  color: #000;
  font-size: 16px;
}
.btn {
  background-color: #EFEFEF;
  width: 70px;
  height: 35px;
  color:#000;
  border: 1px solid #E3E3E3;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 2px;
}
