.btn {
    background-color: #EFEFEF;
    width: 70px;
    height: 35px;
    color: #000;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 2px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}
.btn:hover {
    background-color: #e4e7e7;
}
.btn:active {
    background-color: #cfd1cf;
    transform: scale(0.98);
}
.btn:focus {
    outline: none;
    box-shadow: 0 0 0 1px rgba(192, 192, 192, 0.2);
}

